<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/pic2.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        </div>
        
        <!-- <h1>{{title}}</h1> -->
        {{>footer}}
    </body>
</html>